<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
 
{{#if logged_in}} 
  <span>
    <label for="comments" class="form-label">Comments</label>
    <input type="text" class="form-control" name="comments">
  </span>
  <p>
    <button id="commentBtn" class="btn btn-primary">Submit</button>
  </p>
{{/if}}
</div>

<script src="/js/blog.js"></script>
