<h1>Blog Posts</h1>


<div class="list-group">
{{#each blogs as |blog|}}
    <a href="/blogs/{{blog.id}}" class="list-group-item list-group-item-action">
        {{blog.title}}
    </a>
    <p>Created by {{blog.user.name}}</p>
    <p>{{blog.description}}</p>
{{/each}}

</div>