<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Create a New Blog</h2>

    <form id="submitBtn">
      <div class="mb-3">
        <label for="title" class="form-label">Blog</label>
        <input type="title" class="form-control" name="blog">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" name="description">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>


  



<script src="/js/blog.js"></script>